@{
    ViewBag.Title = "About Pedaloca";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@
</hgroup>
    <div class="span12">
        <div class="row">
            <div class="col-sm-6 nopadding-lr match-height white-bg" data-mh="promo-inner">
                <div class="section-inner pad-sides-60 promo-inner">
                    <div class="col-sm-8 col-sm-offset-2">
                        <p class="about">
                            Pedal’Oca – the funny sounding name is actually inspired from a hilarious race held in the harbor of a small town nestled at the foot of the Dolomite region of the Italian Alps in which teams sign up for a day long competition beginning at 9am in one of the center squares of town. As the church bells toll the hour, teams trudge in dressed up in all sorts of costumes and the fun begins! It’s a race around the harbor on peddle boats which consists more of trying to douse the other players and knock them into the lake. Clearly the height of cycling….
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 nopadding-lr dark-wrapper remove-opacqued-bg opaqued background-cover match-height" style="background-image: url('/Content/img/riva.jpg'); display: block; height: 845px;" data-mh="promo-inner" display: block height: 845px;>
                <div class="dark-opaqued section-inner pad-sides-60 text-right promo-inner"></div>
            </div>
            <p>

            </p>
            <p>
                I first fell in love with extreme outdoor sports in these mountains and I carry on my love by sharing the joy of cycling and adventure with any and all I can pull into my gravity well.

                Pedaloca is your destination for the latest products in the industry, friendly service, insightful cycling advice and weekly group rides for all cycling levels. We’re new to Kansas City and excited to add to a growing community that is quickly becoming well-known as a great place for cyclists to visit and live.

                We are dedicated to having fun and as such our crew provides next level service because we love what we do! We can’t wait to meet you and swap stories!
            </p>


        </div>
    </div>